/* Import OpenSans with weight of 800 for header */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

/* Colour text selection */
section *::selection {
    background: rgb(20, 20, 20);
    color: rgb(235, 235, 235);
}

section a::selection {
    color: rgb(200, 220, 255);
}

*::selection {
    visibility: hidden;
}

/* Style for hyperlinked text */
a {
    text-decoration: none;
    color: rgb(230, 130, 90);
}

a:hover {
    color: rgb(250, 180, 150);
    cursor: pointer;
}

a.disabled {
    color: rgb(110, 95, 85);
}

a.disabled:hover {
    color: rgb(110, 95, 85);
    cursor:not-allowed
}

/* Style for body */
html, body {
    background-color: rgb(40, 40, 40);
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0.25vw;
    color: rgb(190, 190, 190);
    cursor: default;
}

/* Style the header, footer and nav */
header, footer, nav {
    text-align: center;
    flex-shrink: 0;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(250, 250, 250);
}

/* Style for header h1 (main page title) */
header h1 {
    font-size: 10rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 9rem;
    padding-bottom: 1rem;
}

/* Style for header h2 (page subtitle) */
header h2 {
    font-size: 4.5rem;
    margin-top: 0;
}

footer, nav {
    list-style-type: none;
    color: rgb(150, 150, 150);
    padding-top: 1rem;
    padding-bottom: 1.25rem;
}

footer {
    font-size: 1.25rem;
}

nav {
    font-size: 2rem;
}

/* Style the unordered list in the footer and nav */
footer ul, nav ul {
    margin: 0;
    padding: 0;
}

footer ul li, nav ul li {
    display: inline;
    margin: 0;
    padding: 1rem;
}

/* Style for section (Container for flexboxes) */
section {
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
}

/* Style for article (Website content) */
article {
    background: rgb(235, 235, 235);
    font-size: 1.75rem;
    color: rgb(20, 20, 20);
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    min-height: 100%;
    min-width: 46vw;
    margin: 1.5rem;
}

/* Style for article content */
article p, article h1, article h2, article h3, article ul{
    margin-left: 2rem;
    margin-right: 2rem;
}

article ul {
    padding-left: 5rem;
}


/* Style for code blocks */
article code, article span {
    font-size: 1.8rem;
}

article code {
    font-size: 1.8rem;
    background: rgb(220, 220, 220);
    padding: 0.25rem;
}

article span {
    background:  rgb(40, 40, 40);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 0.5rem;
    padding: 1rem;
    margin:auto;
    display: block;
    color: rgb(190, 190, 190);
    font-family: monospace;
    overflow: auto;
    width: 95%;
}

/* Style for sizing and centering images and iframe content */
article picture img, iframe {
    display:block;
    margin:auto;
}

article picture img{
    width: 80%;
}

article iframe {
    width: 42.5vw;
    height: 24vw;
    padding: 3rem;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 1200px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    article iframe {
        width: 85vw;
        height: 48vw;
    }
  }














