/* Import OpenSans with weight of 800 for header */
@import url('https://fonts.googleapis.com/css?family=Poppins:800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(50, 50, 50);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(230, 230, 230);
}

body {
    margin: 0.25vw;
    font-size: 16px;
    line-height: 120%;
}

ul {
    line-height: 200%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background: rgb(100, 100, 230);
    text-align: center;
    overflow: hidden;
}

header h1 {
    margin-top: 2.25vh;
    font-size: 130%;
}

header h2, noscript {
    font-size: 90%;
}

/* Style for header h1 (main page title) */
header > nav h1 > a {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 125%;
}

header > nav a {
    color: black;
    font-size: 130%;
}

header > nav a:hover {
    color: black;
    text-decoration: underline;
}

header > nav {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 100vh;
    text-align: left;
    background: rgb(240, 240, 100);
    width: 80vw;
    color: black;
    box-shadow: 15px 0 20px rgba(0, 0, 0, 0.3);
}

header > nav > h1 {
    margin-left: 5vw;
    margin-right: 5vw;
}

header > nav > ul {
    margin-top: 1rem;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 105%;
}

header > nav > ul:nth-child(6) > li {
    margin: 0.5rem;
    padding: 0.5rem;
}

/* Dividing line for hamburger */

.line {
    width: 80vw;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

/* Hamburger icon */

#hamburger {
    position: fixed;
    left: 5%;
    top: 2vh;
    height: 5.5vh;
    width: 6vh;
    transition: transform 0.05s cubic-bezier(1,.87,0,1.32);
}

/* Hamburger icon active */

#hamburger.active {
    transform: translateX(-2.5vh);
}

/* Hamburger icon lines */

.hamburger-line {
    background: white;
    height: 1vh;
    width: 6vh;
    margin-bottom: 1.5vh;
}

.hamburger-line:nth-of-type(1), .hamburger-line:nth-of-type(3) {
    transition: transform 0.5s cubic-bezier(1,.87,0,1.32);
}

.hamburger-line:nth-of-type(2) {
    transition: opacity 0.5s cubic-bezier(1,.87,0,1.32);
}

/* Hamburger active icon lines */

#hamburger.active > .hamburger-line:nth-of-type(1) {
    transform: rotate(45deg) translate(3.5vh);
}

#hamburger.active > .hamburger-line:nth-of-type(2) {
    opacity: 0;
    transition: opacity 0.05s cubic-bezier(1,.87,0,1.32);
}

#hamburger.active > .hamburger-line:nth-of-type(3) {
    transform: rotate(-45deg) translate(3.5vh);
}

#hamburger.active > .hamburger-line:nth-of-type(3), #hamburger.active > .hamburger-line:nth-of-type(1), #hamburger.active {
    transition: transform 0.5s cubic-bezier(1,.87,0,1.32);
}

/* Nav Vue transition */

nav.slide-enter-active {
    transition: all .3s ease;
}
nav.slide-leave-active {
    transition: all .3s cubic-bezier(1,.17,0,1.32);
}
nav.slide-enter, nav.slide-leave-to {
    transform: translateX(-80vw);
    opacity: 0;
}

#vue > nav {
    text-align: center;
    padding: .5rem;
}

#vue > nav:first-of-type {
    margin-top: 15vh;
}

main {
    color: black;
}

main, header {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

main > nav {
    display: none;
    background: rgb(240, 240, 100);
    max-width: 15vw;
    margin-right: 0.25vw;
    font-size: 110%;
}

main > nav > h1 {
    text-align: center;
    padding: 1vw;
}

main > nav > ul {
    list-style-type: none;
    padding: 1vw;
}

main > section > section{
    background: rgb(240, 240, 240);
    font-size: 100%;
    padding-bottom: 2rem;
}

main > section > section:not(:first-child){
    margin-top: 1rem;
}

main > section > section > h1 {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1rem;
    font-size: 150%;
}

main > section > section > div {
    -webkit-flex-direction: column;
    flex-direction: column;
} 

main > section > section > div > div {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

main > section > section > div > div > h1 {
    font-size: 130%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

main > section > section > div > div > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main > section > section > div > div > ul {
    margin: 1rem;
}

main > section > section > div > div > ul > li {
    margin-left: 2rem;
    list-style-type: square;
}

/* Style for footer */
footer {
    text-align: center;
    font-size: 100%;
    flex-shrink: 0;
    color: rgb(150, 150, 150);
    padding-top: 3rem;
    padding-bottom: 1.25rem;
}

/* Style the unordered list in the footer */
footer ul{
    margin: 0;
    padding: 0;
}

/* Style for navigation lists in the footer and nav */
footer > ul > li:nth-child(even){
    padding-left: 1rem;
    padding-right: 1rem;
}

footer ul li{
    display: inline;
    margin: 0;
}

footer li, header li {
    list-style-type: none;
}

/* Images */
picture > img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 90vw;
}

/* Buttons */
button {
    text-decoration: none;
    border: none;
    font-size: inherit;
    background: none;
}

#vue > nav > button {
    display: inline;
    font-size: 200%;
    color: white;
    margin: 1rem;
}

main > nav button {
    color: black;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:disabled {
    text-decoration: none;
    color: gray;
}

button:disabled:hover {
    text-decoration: none;
    cursor: initial;
}

p {
    word-spacing: 0.15rem;
}


/* Flex properties */
.flex-container{
    display: flex;
}

.flex-box{
    flex: 1
}

.columns {
    -webkit-flex-direction: column;
      flex-direction: column;
}

/* Display block */
iframe, img, span{
    display: block;
}

/* Margin auto */
iframe, img, span {
    margin: auto;
}

/* Iframes */
iframe {
    margin-top: 1.5rem;
    width: 90vw;
    height: 67vw;
}

/* Style for code blocks */
code, section span {
    font-size: 101%;
}

code {
    background: rgb(230, 230, 225);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-family: monospace;
}

section span {
    background:  rgb(230, 230, 225);
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: monospace;
    overflow: auto;
    max-width: 85vw;
    width: 90%;
}

section span > span {
    display: inline;
    padding: 0;
}

.comment {
    color: rgb(100, 150, 100);
}

.keyword {
    color: rgb(150, 100, 100);
}

.operator {
    color: rgb(100, 100, 50);
}

.method {
    color: rgb(150, 100, 150);
}

.string {
    color: rgb(180, 120, 50);
}

/* Colour text selection */
*::selection {
    visibility: hidden;
}

main > section *::selection{
    background: rgb(100, 100, 100);
    color: white;
}

/* Style for hyperlinked text */
a {
    text-decoration: none;
    color: rgb(195, 195, 250);
}

a:hover {
    color: rgb(230, 230, 250);
    cursor: pointer;
}

/* Style for section hyperlinked text */
section a {
    text-decoration: none;
    color: rgb(215, 90, 40);
}

section a:hover {
    color: rgb(250, 180, 150);
    cursor: pointer;
}

section a::selection {
    color: rgb(200, 220, 255);
}


/* Headings */
h1, h2 {
    font-weight: 400;
} 

@media screen and (min-width: 1100px){
    /* Iframes */
    iframe {
        width: 35vw;
        height: 26vw;
    }

    /* Images */
    picture > img {
        width: 35vw;
    }

    main > section > section > div {
        -webkit-flex-direction: row;
        flex-direction: row;
    } 

    /* Hamburger menu */
    header button, #hamburger, header label, header > nav > h1 {
        display: none;
    }

    header {
        background: none;
        box-shadow: none;
        position: relative;
        height: fit-content;
    }

    header h1 {
        margin-top: 10vh;
        font-size: 450%;
        line-height: 150%;
    }

    header h2{
        margin-bottom: 20vh;
        font-size: 250%;
    }

    main > nav {
        display: block;
    }

    #vue > nav button {
        font-size: 125%;
        margin: 0.5rem;
    }

    #vue > nav:first-of-type {
        display: none;
    }

    .line {
        display: none;
    }
}