/* Style for hyperlinked text */
body > section > section > section a {
    text-decoration: none;
    color: rgb(215, 90, 40);
}

body > section > section > section a:hover {
    color: rgb(250, 180, 150);
    cursor: pointer;
}

body > section > section > section a::selection {
    color: rgb(200, 220, 255);
}

body > section > section > section {
    background: rgb(240, 240, 240) !important;
}

.columns {
    -webkit-flex-direction: column;
      flex-direction: column;
}

body > section > section, body > section > nav {
    display: block;
}

article {
    flex: 1;
}

body > section > section {
    flex: 1;
}

body > section {
    display: flex;
}

body > section > nav {
    max-width: 14vw;
    margin-left: 0.25vw;
    background: rgb(240, 240, 100);
    flex: 1;
}

body > section > nav > ul > li > a , body > section > nav > h1, body > section{
    color: black;
    font-size: 1.2rem;
}

body > section > nav > ul > li > a:hover {
    text-decoration: underline;
    color: initial;
}

body > section > nav > h1{
    text-align: center;
    padding-top: 1rem;
}

body > section > nav > ul {
    list-style-type: none;
    display: inline;
}

body > section > nav {
    padding-left: 1vw;
    padding-right: 1vw;
}

picture > img {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 35vw;
    width: 100%;
    height: 100%;
}

iframe, picture > img {
    display: block;
    margin: auto;
}


iframe {
    margin-top: 3rem;
    width: 28vw;
    height: 21vw;
}

body > section > nav > h1 {
    font-weight: bold;
}


/* Style for code blocks */
article code, article span {
    font-size: 1.3rem;
}

article code {
    font-size: 1.3rem;
    background: rgb(220, 220, 220);
    padding: 0.25rem;
}

article span {
    background:  rgb(40, 40, 40);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: auto;
    display: block;
    color: rgb(190, 190, 190);
    font-family: monospace;
    overflow: auto;
    width: 95%;
}

article > p > b {
    font-weight: bold;
    font-size: 1.1rem;
}

pre {
    margin: 0;
}

article > ul > li {
    padding: 0.2rem;
    font-size: 1.2rem;
}

/* Hamburger menu */
@media (max-width: 1400px) {
    body > section > nav {
        max-width: 0;
        margin: 0;
        padding: 0;
    }

    picture > img {
        max-width: 80vw;
    }

  }

  @media (max-width: 1200px) {
    iframe {
        margin-top: 3rem;
        width: 60vw;
        height: 45vw;
    }
  }